extends layout 

block inventory 
  |
  
block featured 

  .container.justify-content-center
    h2.pb-5 #{listTitle}
    - book_list.sort(function(a, b) { let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each book in book_list 
      .card.mb-3(style='max-width: 800px;')
        .row.g-0
          .col-md-4
            a(href=book.url) 
              img.img-thumbnail(src='/images/book_cover.png' alt='book icon')
          .col-md-8
            .card-body
              h5.card-title 
                a(href=book.url) #{book.title}
              |
              h6.card-subtitle.mb-2.text-muted #{book.author.name}
              h6.card-subtitle.mb-2.text Summary:
              p.card-text.preview-summary.h-25
              .h-25.d-inline-block #{book.summary}

    else 
      .alert.alert-secondary(role='alert')
      | There are no books available.

