extends admin_layout 

block viewContainer 
  .col-8 
    h4 !{message.subject}
    p #[strong From:] !{message.name} - !{message.email}
    p #[strong To:] !{message.to_id}
    p #[strong Date:] !{message.date_formatted}
    p #[strong Message:]
      if message.library_card 
        p !{message.library_card}
      p !{message.message}

  if errors
   ul
    for error in errors
     li!= error.msg